{% extends "base.html" %}

{% block title %}Error {{ error_code }} - CyberShield{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <div class="card">
            <div class="card-body py-5">
                <h1 class="display-1 text-danger">{{ error_code }}</h1>
                <h3 class="mb-4">{{ error_message }}</h3>
                <p class="lead">We're sorry, but something went wrong.</p>
                <div class="mt-4">
                    <a href="{{ url_for('home') }}" class="btn btn-primary me-2">
                        <i class="fas fa-home me-2"></i>Go Home
                    </a>
                    <a href="javascript:history.back()" class="btn btn-secondary">
                        <i class="fas fa-arrow-left me-2"></i>Go Back
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



